<div class="overlay">
    <section class="sidebar-overlay">
        <div class="sidebar-panel">
            <div class="sidebar-header">
                <div class="sidebar-header-content">
                    <h2 class="sidebar-title">Modify a Product</h2>
                    <button id="close-button" class="sidebar-close-button">
                        Close
                    </button>
                </div>
            </div>

            <div class="sidebar-content">
                <form action="/api/store/product/update" id="update-product-form" method="POST" class="form-container">
                    <div class="form-group">
                        <label for="name" class="form-label">Product Name</label>
                        <input type="text" id="name" name="name" value="<%= name %>" class="form-input" required>
                    </div>

                    <div class="form-group">
                        <label for="description" class="form-label">Description</label>
                        <textarea rows="4" id="description" name="description" class="form-textarea"
                            required><%= description %></textarea>
                    </div>

                    <div class="form-group">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" id="price" name="price" step="0.01" value="<%= price %>" class="form-input"
                            required>
                    </div>

                    <div class="form-checkbox-group">
                        <input type="checkbox" id="installment" name="installment" class="form-checkbox" <% if
                            (installment==1) { %> checked <% } %>
                            >
                            <label for="installment" class="form-label">
                                Available for Installment Payment
                            </label>
                    </div>

                    <button type="submit" class="form-button">
                        Apply Changes
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>