<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>polyPhonic</title>
  <link href="/css/outputs/output.css" rel="stylesheet">
  <link href="/css/outputs/entrance_output.css" rel="stylesheet">
  <link href="/css/outputs/header_output.css" rel="stylesheet">
  <link href="/css/outputs/sidebar_output.css" rel="stylesheet">
  <link href="/css/outputs/user_store_products_output.css" rel="stylesheet">
  <link href="/css/outputs/landing_page_output.css" rel="stylesheet">
</head>

<body>
  <header class="store-header">
    <div class="header-container">
      <div class="header-flex">
        <div class="header-logo">
          <a class="header-title" href="#">
            <h4 class="ml-2">polyPhonic</h4>
          </a>
        </div>

        <div class="header-actions">
          <nav aria-label="Global" class="hidden md:block">
            <ul class="flex items-center gap-6 text-sm">
              <li>
                <a class="products-button-click text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                  href="#">
                  Products
                </a>
              </li>

              <li>
                <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                  href="#about">
                  About
                </a>
              </li>

              <li>
                <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                  href="#contact">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>


  <div class="enter-container">

  </div>

  <main class="main-page">
    <section id="main-page-one">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">
            Access ample list of stores,
            <strong class="hero-title-accent"> anywhere, </strong>
            anytime.
          </h1>

          <p class="hero-description">
            Browse the large number of stores available, access the ample instruments and gadgets they offer, and order
            fast
          </p>

          <div class="hero-buttons">
            <a id="register" class="register-button" href="#">
              Register Now
            </a>

            <a id="log-in" class="login-button" href="#">
              Login
            </a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="products-section">
        <div class="products-grid">
          <div class="products-content">
            <div class="products-text-container">
              <h2 class="products-title">
                Browse Top Stores
              </h2>

              <p class="products-description">
                Browse our top stores now and four of their products with our limited products page, then create an
                account to begin the full journey.
              </p>

              <div class="products-button-container">
                <a href="#" class="products-button products-button-click">
                  See Products
                </a>
              </div>
            </div>
          </div>

          <img alt="" src="/media/showcase1.jpg" class="products-image" />
        </div>
    </section>

    <section>
      <div class="feature-section">
        <div class="feature-grid">
          <div class="feature-content">
            <div class="feature-text-container">
              <h2 class="feature-title">
                Immediate connection between you and a preferred store
              </h2>

              <p class="feature-description">
                Browse stores, their products and categories, and make orders! Or, as a store, manage your products and
                orders. Which one would you go with?
              </p>
            </div>
          </div>

          <div class="feature-image-container">
            <img src="./media/showcase4.jpg" class="feature-image" alt="" />
          </div>
        </div>
      </div>
    </section>



    <section>
      <div class="about-contact-section">
        <div class="about-contact-container">
          <div class="about-container" id="about">
            <h2 class="about-title">
              About polyPhonic
            </h2>

            <p class="about-description">
              This is a small project to bring together musical stores and customers for a more convenient product
              navigation and access. We are from Beirut, Lebanon.
            </p>
          </div>

          <div class="contact-container" id="contact">
            <h2 class="contact-title">
              Contacts
            </h2>

            <p class="contact-description">
              You can contact us either at <strong>polyphonic@tuta.com</strong> or send us a Whatsapp at
              <strong>71777666</strong>.
            </p>
          </div>
        </div>
    </section>
  </main>

</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js
"></script>