<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>polyPhonic</title>
        <link href="/css/output.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>polyPhonic</h1>
            <h3>All instruments. International stores, in One Place</h3>
            
            <div id="message-box"></div>
            <nav>
                <button id="log-in">Log In</button>
                <button id="register">Register</button>
            </nav>
        </header>

        <main>
            <div id="enter-container"></div>
        </main>

        <div class="standout"></div>

    </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js
"></script>