<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>polyPhonic</title>
        <link href="/css/output.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>polyPhonic</h1>
            
            <nav>
                <button id="log-in">Log In</button>
                <button id="register">Register</button>
            </nav>
        </header>
        
        <div class="enter-container">

        </div>

        <main class="main-page">
            <h1>All instruments. International stores, in One Place</h1>

            <div class="showcase-wrapper">
                <div class="showcase-item" id="showcase-one">
                    <h4>Order ample instruments, fast and easy</h4>
                </div>
                <div class="showcase-item" id="showcase-two">
                    <h4>Access variety of stores, worldwide</h4>
                </div>
            </div>

            <div class="showcase-wrapper">
                <div class="showcase-item" id="showcase-three">
                    <h4>Immediate delivery status response</h4>
                </div>
                <div class="showcase-item" id="showcase-four">
                    <h4>Direct integration between user and store</h4>
                </div>
            </div>
        </main>

        <div class="standout"></div>

    </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/main.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js
"></script>