/*npx @tailwindcss/cli -i ./public/css/styles.css -o ./public/css/output.css --watch*/
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

html {
    @apply bg-indigo-50;
    background-color: #e8eaf6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2300008b' fill-opacity='0.03'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body {
    @apply font-sans bg-cover bg-no-repeat;
    @apply flex flex-col items-center justify-center;
}

.door-page {
    @apply bg-cover bg-no-repeat;
    background-image: url('/media/background.webp');
}

button:not(.add-to-cart-button) {
    @apply bg-lime-400 hover:bg-lime-300;
} 

button{
    @apply mt-5 m-3 p-2 pt-2.5;
    @apply border-none transition ease-in-out duration-200 rounded-lg cursor-pointer;
}

button > svg {
    @apply h-6 w-6;
}

.info-button {
    @apply rounded-xl mt-2 m-1;
}

button.add-to-cart-button {
    @apply bg-lime-200 hover:bg-lime-100 rounded-3xl;
    @apply mt-2.5 m-1.5 p-1 pt-1.25;
}

/* .door-button class is for all login/register/logout related buttons */
button.door-button {
    @apply bg-amber-200 hover:bg-amber-100;
}

.enter-container {
    @apply flex justify-center;
}

button.account-button {
    @apply bg-gray-200 hover:bg-gray-100;
}

.account-button-icon {
    @apply size-24;
}

/* enter-container is for the login and register pages */
.enter-container, form {
    @apply flex flex-col items-center justify-center m-0 m-auto;
    @apply rounded-lg;
}

.enter-container, main {
    @apply bg-gray-50 p-10 w-fit;
    @apply shadow-md shadow-purple-600;
}

.enter-container,main {
    @apply hidden;
}

.form-group:first-of-type {
    @apply mt-7;
}

.form-group * {
    @apply w-36;
    margin: 0 auto;
}

input,textarea {
    @apply outline-0 outline-fuchsia-200 p-2 focus:outline-2 focus:outline-fuchsia-400;
    @apply hover:outline-fuchsia-700 hover:shadow-2xl;
    @apply transition duration-1000;
    @apply border-l-2 border-t-0 border-b-0 border-r-0 rounded-br-2xl rounded-tr-2xl;
    @apply mt-1;
}

.main-icon {
    @apply hover:animate-bounce hover:shadow-2xl hover:shadow-purple-600;
    @apply size-8 rounded-2xl transition duration-1000 ease-in-out;
}

header {
    @apply flex flex-col items-center justify-center;
    @apply mt-8;
}

nav {
    @apply flex float-left;
}

h1 {
    @apply font-mono underline decoration-2 decoration-dashed;
}

h4 {
    @apply -mt-2;
}

.message-box {
    @apply hidden;
}

.success-message {
    @apply bg-green-400 opacity-75 text-white py-0.5 px-2 rounded-lg m-0;
}

.error-message {
    @apply bg-red-400 opacity-75 text-white py-0.5 px-2 rounded-lg m-0;
}

/*These two are used in cart.ejs to show 4 items per row, and adjust accordingly*/
.extend-container {
    @apply grid grid-cols-4;
}

.extend-item {
    @apply mr-5 mb-5 p-5 border-gray-200 border-dotted border-2;
}

.item-card,.no-js-item-card {
    @apply decoration-0 text-black no-underline;
}

.item-card-container {
    @apply hover:bg-indigo-200 cursor-pointer;
    @apply transition ease-in-out duration-300;
    @apply p-5 rounded-2xl;
}

.product-card {
    @apply flex flex-col gap-2;
    @apply border-l-0 border-r-0 border-t-0 border-b-gray-200 border-dashed;
    @apply mb-5 pb-5;
}

.product-card-part {
    @apply flex items-center justify-center;   
}

.product-card-part h3 {
    @apply mr-5;
}

.product-card-part-last {
    @apply -mt-10;
}

.add-to-cart {
    @apply -mt-5 hover:animate-spin;
}

section.overlay {
    @apply fixed z-20 right-0 top-0;
    @apply bg-blue-50 p-5 rounded-bl-3xl;
    @apply shadow-yellow-100 shadow-2xl;
    @apply w-56;
    @apply flex flex-col items-center;
    @apply hidden;
    @apply overflow-scroll h-screen;
}

.overlay-header { 
    @apply flex justify-center;
}

.overlay-item-list {
    @apply p-5;
}

.overlay-item-card {
    @apply border-y-2 border-y-gray-500 pt-5;
    @apply flex flex-col items-center;
}

.overlay-item-card * {
    @apply m-1.5 text-center;
}

.overlay-item-card > div > * {
    @apply inline-block;
}

button.confirm-button {
    @apply mb-10;
}

button.delete-button,button.not-alone-delete-button {
    @apply bg-red-300 hover:bg-red-100;
}

button.delete-button {
    @apply rounded-4xl p-1 pt-1.25;
}

button.delete-button > svg {
    @apply size-5;
}

.ping-span {
    @apply absolute hidden ml-5.25 -mt-2 p-1 animate-ping rounded-full bg-sky-600;
}

/*store_dashboard.ejs specific related*/
.productsList {
    @apply grid grid-cols-2;
}

.store-product-card {
    @apply m-2 w-72;
}

div.store-product-card * {
    @apply m-1;
}

.product-actions {
    @apply flex justify-center;
}

.product-actions > button, .product-actions > form > button{
    @apply p-0.5 pt-0.75;

}

.category {
    @apply text-sm border-gray-600 border-1 border-dashed p-0.5 rounded-md;
}

.store-form-group {
    @apply mt-5;
}