<!--The following is loaded into overlay section from the product_add.html file when the store clicks on Add New-->
<div class="overlay-header">
    <button id="close-button" class="door-button">Close</button>
    <h3>Add a Product</h3>
</div>

<form class="overlay-item-list" action="/api/store/product/add" method="POST" id="confirm-add-product-button">
    <div class="store-form-group">
        <label for="name">Product Name</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div class="store-form-group">
        <label for="description">Description</label>
        <textarea rows="4" id="description" name="description" required></textarea>
    </div>

    <div class="store-form-group">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" step="0.01" required>
    </div>

    <div class="store-form-group">
        <label for="pay_by_installment">
            Available for Installment Payment
            <input type="checkbox" id="pay_by_installment" name="pay_by_installment">
        </label>
    </div>

    <div class="store-form-group">
        <label for="category">Category</label>
        <input type="text" id="category" name="category" required>
    </div>

    <button type="submit">Add Product</button>
</form>